---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <!-- <p class="meta">{% if page.tags %}Tags: {{ page.tags | sort | array_to_sentence_string }}{% endif %}</p> -->
  </header>

  <article class="post-content">
  {{ content }}
  </article>

  <nav class="site-nav">
    <div class="trigger">
      {% if page.next %}
        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">&laquo;Next post</a>
      {% else %}
        <span>&laquo;Next post</a>
      {% endif %}

      {% if page.previous %}
      <a href="{{page.previous.url | prepend: site.baseurl | replace: '//', '/' }}">Previous post &raquo;</a>
      {% else %}
        <span>Previous post &raquo;</span>
      {% endif %}
    </div>
  </nav>
</div>
